div {   
    /*border: 1px solid red;
    background-color: #000;*/
}

 .displayNone {
    display: none;
}

 .displayBlock {
    display: block;
}

@font-face {
    font-family: 'Harry';
    src: url("../fonts/HARRY.ttf");
}

body {
    background-image: url("../img/hogwarts.jpg");
    background-position: right bottom; 
    background-repeat: no-repeat; 
    background-color: #fff;
}

h1 {
    font-family: 'Harry';
    padding-left: 10px;
    color: #ae0001;
}

p {
    font-family: sans-serif;
    padding-right: 10px;
}

tr {
    font-family: sans-serif;
}

td {
    padding: 5px 10px;
}

input {
    width: 350px;
}

button {
    margin: 20px;
    background: #eeba30;
    color: #fff;
    font-family: Sans-serif;
    font-size: 120%;
    height: 50px;
    width: 120px;
    text-align: center;
    border: 0;
}

button:hover {
  background: #d3a625;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}